
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Playwrite+DE+Grund:wght@300&display=swap');
*{
  margin: 0;
  font-family: 'Caveat', cursive;
  color: #333;
  font-size:24px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #B4F8C8 ;
}

.navbar h1 {
  color: rgb(99, 99, 232);
  font-size: 32px;
}
.navbar .links {
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:  rgb(85, 85, 227);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #f3aeae;
  border: 2px solid #f3aeae;
}
.blog-preview h2 {
  font-size: 20px;
  color:  #ef9999;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  margin-bottom: 10px;
  font-size: 32px;
  color: #ef9999;
}

.blog-details p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  padding: 10px 20px;
  background-color: #ef9999;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  display: block;
  text-align: left;
}

.create h2{
  margin-bottom: 20px;
  color: #ef9999;
  font-size: larger;

}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ef9999;
  box-sizing: border-box;
  display: block;
}

.create button{
  padding: 10px 20px;
  background-color: #ef9999;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.create button:hover{
  background-color: #e47474;
}


